# Base deps, always applicable
matplotlib==3.10.0
scikit-learn==1.6.1
opencv-python==4.11.0.86

# Optional, can be manually installed - Comment these if needed
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0

# Aside from this: make sure to install sam2 https://github.com/facebookresearch/sam2/tree/main (commit 2b90b9f) separately.
